<div>
  <div>
    <div>
      <h3>注文履歴一覧</h3>
    </div>
  </div>
  <div>
    <div>
      <table>
        <tr>
          <td>購入日時</td>
          <td>購入者</td>
          <td>注文個数</td>
          <td>注文ステータス</td>
        </tr>
        <% @index_orders.each do |order| %>
      </table>
    </div>
  </div>
</div>